<!DOCTYPE html>
<html lang="ja"
      th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>書籍情報編集</title>
</head>
<body>
<section>
    <h1 style="margin-top: 1em;">書籍情報編集</h1>

    <div th:if="${not #lists.isEmpty(errors)}">
        <div style="color: red;" th:each="error : ${errors}" th:text="${error}"></div>
    </div>

    <form class="ui form" enctype="application/x-www-form-urlencoded" method="POST" th:action="@{/book/edit}">
        <input name="id" th:if="${id != null}" th:value="${id}" type="hidden">
        <div class="field">
            <label>タイトル</label>
            <input name="title" placeholder="タイトル" th:value="${book.title}" type="text">
        </div>
        <div class="field">
            <label>出版日時</label>
            <input name="publishAt" placeholder="出版日"
                   th:value="${#temporals.format(book.publishAt, 'yyyy-MM-dd\'T\'HH:mm')}" type="datetime-local">
        </div>
        <div class="field">
            <a class="ui button" th:href="@{/book}">戻る</a>
            <button class="ui primary button" type="submit">保存</button>
        </div>
    </form>

</section>
</body>
</html>
