<!DOCTYPE html>
<html lang="ja"
      th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>書籍一覧</title>
</head>
<body>
<section>
    <div style="margin-top: 1em; display: flex; justify-content: space-between; align-items: center;">
        <div style="font-size: 2em; font-weight: bolder;">書籍一覧</div>
        <div style="display: flex; align-items: center;">
            <form class="ui search" method="GET" th:action="@{/book}">
                <div class="ui icon input">
                    <input class="prompt" name="q" placeholder="タイトル..." th:value="${query}" type="text">
                    <i class="search icon"></i>
                </div>
            </form>
            <a class="ui primary button" style="margin-left: 5px;" th:href="@{/book/edit}">
                <i class="icon plus"></i>
                追加
            </a>
        </div>
    </div>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>No</th>
            <th>タイトル</th>
            <th>著者</th>
            <th>出版日時</th>
            <th style="width: 5em;"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td data-label="No"
                th:text="${book.id}"></td>
            <td data-label="Title"
                th:text="${book.title}"></td>
            <td data-label="Author">
                <th:block th:each="author :${book.authors}">
                    <a th:href="@{/book(a=${author.id})}" th:text="${author.name}"></a>
                    <span th:unless="${authorStat.last}">,</span>
                </th:block>
            </td>
            <td data-label="PublishAt"
                th:text="${#temporals.format(book.publishAt, 'yyyy/MM/dd HH:mm')}"></td>
            <td class="right aligned" data-label="Action"
                style="display: flex; justify-content: space-between; align-items: center;">
                <form method="POST" th:action="@{/book/delete}">
                    <input name="id" th:value="${book.id}" type="hidden">
                    <button class="ui red icon mini button" type="submit">
                        <i class="trash alternate icon"></i>
                    </button>
                </form>
                <a class="ui primary icon mini button" th:href="@{/book/edit(id=${book.id})}">
                    <i class="edit icon"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/author}">著者一覧に移動 &gt;</a>
</section>
</body>
</html>
