<!DOCTYPE html>
<html lang="ja"
      th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>書籍一覧</title>
</head>
<body>
<section>
    <h1>書籍一覧</h1>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>No</th>
            <th>タイトル</th>
            <th>著者</th>
            <th>作成日時</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td data-label="No"
                th:text="${book.id}"></td>
            <td data-label="Title"
                th:text="${book.title}"></td>
            <td data-label="Author">
                <th:block th:each="author :${book.authors}">
                    <a th:href="@{/book(a=${author.id})}" th:text="${author.name}"></a>
                    <span th:unless="${authorStat.last}">,</span>
                </th:block>
            </td>
            <td data-label="CreatedAt"
                th:text="${book.createdAt}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
