<!DOCTYPE html>
<html lang="ja"
      th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>著者一覧</title>
</head>
<body>
<section>
    <div style="margin-top: 1em; display: flex; justify-content: space-between; align-items: center;">
        <div style="font-size: 2em; font-weight: bolder;">著者一覧</div>
        <div style="display: flex; align-items: center;">
            <form class="ui search" method="GET" th:action="@{/author}">
                <div class="ui icon input">
                    <input class="prompt" name="q" placeholder="氏名..." th:value="${query}" type="text">
                    <i class="search icon"></i>
                </div>
            </form>
            <a th:href="@{/author/edit}" class="ui primary button" style="margin-left: 5px;">
                <i class="icon plus"></i>
                追加
            </a>
        </div>
    </div>

    <div th:if="${not #lists.isEmpty(errors)}">
        <div style="color: red;" th:each="error : ${errors}" th:text="${error}"></div>
    </div>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>No</th>
            <th>氏名</th>
            <th>作成日時</th>
            <th style="width: 5em;"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td data-label="No"
                th:text="${author.id}"></td>
            <td data-label="Name"
                th:text="${author.name}"></td>
            <td data-label="CreatedAt"
                th:text="${#temporals.format(author.createdAt, 'yyyy/MM/dd HH:mm')}"></td>
            <td class="right aligned" data-label="Action"
                style="display: flex; justify-content: space-between; align-items: center;">
                <form method="POST" th:action="@{/author/delete}">
                    <input name="id" th:value="${author.id}" type="hidden">
                    <button class="ui red icon mini button" type="submit">
                        <i class="trash alternate icon"></i>
                    </button>
                </form>
                <a class="ui primary icon mini button" th:href="@{/author/edit(id=${author.id})}">
                    <i class="edit icon"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/book}">&lt; 書籍一覧に移動</a>
</section>
</body>
</html>
